---
import type { CollectionEntry } from "astro:content";
import EventCard from "../events/EventCard.astro";

interface Props {
  events: CollectionEntry<"events">[];
}

const { events } = Astro.props;
---

<div class="card-grid">
  {events.map((event) => <EventCard event={event} />)}
</div>
